<!DOCTYPE html>
<html lang="en">
    <head>
        <title>URL Shortener</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <center>
            <h1>lets shorten some urls shawty 🥴</h1>
            <form method="POST" action="/create">
                <input type="url" placeholder="Long URL" name="long_url" required>
                <button type="submit">Shorten</button>
            </form>
        </center>
    </body>
</html>